{% extends 'product/template.html' %}
{% load static %}

{% block content %}
  
<main class="catalog">

    <h1 class="page-title" id="mt">Inspirație:</h1>
    <div class="bg-container">
        <div class="image-container">
            <a href="{% url 'tipar_digital' %}">
                <img src="{% static '/product/images/1_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Tipar digital </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'print_outdoor' %}">
                <img src="{% static '/product/images/2_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Print outdoor </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'print_indoor' %}">
                <img src="{% static '/product/images/3_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Print indoor</p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'tipar_offset' %}">
                <img src="{% static '/product/images/4_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Tipar Offset </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'print_pe_textile' %}">
                <img src="{% static '/product/images/5_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Print direct pe textile</p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'timbru_sec' %}">
                <img src="{% static '/product/images/6_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Timbru sec </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'firme_luminoase' %}">
                <img src="{% static '/product/images/7_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Casete luminoase </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'termoformare' %}">
                <img src="{% static '/product/images/8_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Termoformare </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'produse_promotionale' %}">
                <img src="{% static '/product/images/9_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Produse promoționale </p>
            </a>
        </div>
        <div class="image-container">
            <a href="{% url 'litere_volumetrice' %}">
                <img src="{% static '/product/images/10_150.png' %}" alt="" class="product-circle">
                <p class="product-description">Litere volumetrice</p>
            </a>
        </div>
    </div>

    <button role="button" aria-label="Previous" class="glider-button glider-prev">
        <img src="{% static '/product/images/arrow.png' %}" alt="">
    </button>
    <button role="button" aria-label="Next" class="glider-button glider-next">
        <img src="{% static '/product/images/arrow.png' %}" alt="">
    </button>
    <div role="tablist" class="dots"></div>
</main>

<script src="{% static 'product/script/glider.js' %}"></script>
<script src="{% static 'product/script/catalog.js' %}"></script>

{% endblock content %}
