{% extends 'product/template.html' %}

{% load static %}

{% block content %}
<main class="produse-catalog">


    <div class="container-titlu">
        <h1 class="titlu">Firme luminoase</h1>
    </div>

    <div class="container-paragraf">
        <P class="paragraf-catalog">
            Termenul de firme luminoase are la bază un panou publicitar care poate fi personalizat în funcție
            de preferințe și care iese în evidență prin lumina generată prin diferite sisteme. Acestea mai sunt
            cunoscute sub numele de <span class="opt-finisare">reclame</span> sau <span class="opt-finisare">panouri
                luminoase</span> și sunt des întâlnite în cadrul magazinelor, hotelurilor sau pensiunilor,
            restaurantelor și diferitelor companii. Efectul oferit de aceste reclame luminoase în timpul nopții este
            unul cât se poate de impunător, oferind un efect aparte în funcție de sistemul folosit și care tinde să
            atragă atenția trecătorilor.

        </P>
        <P class="paragraf-catalog">
            Firmele luminoase pot fi sub forma casetelor luminoase, literelor volumetrice sau firme luminoase
            atipice.
        </P>
        <P class="paragraf-catalog">
            Unul dintre avantajele unei firme luminoase este întreținerea facilă pe care sistemul o deține,
            sistemele
            de iluminat putând fi înlocuite cu ușurință, iar efectul oferit este unul deosebit. Atât
            <span class="opt-finisare">efectuarea</span>, cât și <span class="opt-finisare">montarea</span> stau pe
            umerii noștri!


        </P>
    </div>
    <div class="container-imagini">
        <div class="img-prezentare">
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_8.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/firme_8.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_5.png' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_5.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_6.jpg' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_6.jpg' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_3.png' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_3.png' %}"></a>
            </div>
        </div>

        <div class="img-prezentare">
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_4.png' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_4.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_1.png' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_1.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_2.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/firme_2.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/firme_7.png' %}" data-lightbox="mygallery"> <img class="poze-catalog"
                        src="{% static 'product/images/firme_7.png' %}"></a>
            </div>
        </div>

    </div>

    <input type="hidden" id="page" name="page" value="firme">


</main>

<script src="{% static 'product/script/tiparDigital.js' %}"></script>
<script src="{% static 'product/script/lightbox-plus-jquery.min.js' %}"></script>


{% endblock content %}