{% extends 'product/template.html' %}
{% load static %}

{% block content %}
  
<main class="produse-catalog">


    <div class="container-titlu">
        <h1 class="titlu">Print direct pe textile</h1>
    </div>

    <div class="container-paragraf">
        <P class="paragraf-catalog">
            Printul folosit este un procedeu de imprimare direct pe material, realizat prin intermediul unei
            imprimante digitale, care folosește
            cernelă pe bază de apă. Materialele pe care se poate imprima digital sunt diverse, însă trebuie să
            conțină fibră
            naturală în proporție de cel puțin 50 %. Calitatea printului este foarte ridicată și rezistentă la
            spălări dese.
            În privința graficii nu există nicio limită de complexitate, fiind o soluție excelentă pentru imprimarea
            imaginilor,
            textelor, fotografiilor etc.
        </P>

    </div>
    <div class="container-imagini">
        <div class="img-prezentare">
            <div class="catalog-img">
                <a href="{% static 'product/images/textile_1.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/textile_1.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/textile_2.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/textile_2.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/textile_3.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/textile_3.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/textile_4.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/textile_4.png' %}"></a>
            </div>
        </div>
    </div>


</main>
<script src="{% static 'product/script/tiparDigital.js' %}"></script>
<script src="{% static 'product/script/lightbox-plus-jquery.min.js' %}"></script>

{% endblock content %}
