{% extends "product/template.html" %}
{% load static %}

{% block content %}

<main class="utilaje">
    <div class="top-container">
        <div class="top-image">
        </div>
        <div class="title-container">
            <div class="title-images-container">
                <div class="title-innovation">
                    <picture>
                        <source media="(min-width: 768px)" srcset="{% static 'product/images/innovation_web.png' %}">
                        <img src="{% static 'product/images/innovation_mobile.png' %}" alt="">
                    </picture>
                </div>
                <div class="title-imagine">
                    <picture>
                        <source media="(min-width: 768px)" srcset="{% static 'product/images/imagine_web.png' %}">
                        <img src="{% static 'product/images/imagine_mobil.png' %}" alt="">
                    </picture>
                </div>
            </div>
            <div class="text-container">
                <p> <span class="first-line"> Descoperă tot ce avem de arătat!</span>
                    <span class="second-line"> Punem la dispoziție o multitudine de echipamente de vânzare. </span>
                    <span class="third-line"> Pentru comenzi și detalii...suntem la un mail distanță! </span>
                </p>
            </div>
            <div class="everything">
                <picture>
                    <source media="(min-width: 768px)" srcset="{% static 'product/images/everything_web.png' %}">
                    <img src="{% static 'product/images/everything_mobil.png' %}" alt="">
                </picture>
            </div>
        </div>
    </div>

    <div class="body-container">


        {% for firma in firme %}
        
        <div class="firm-container">
            <div class="logo-download-container">
                <div class="logo-container">
                    <img src="{{firma.logo.url}}" alt="">
                </div>
                <div class="download-container">
                    <a href="{{firma.pdf.url}}" download>
                        <p>Descarcă broșura {{firma.name}}</p>
                        <img src="{% static 'product/images/Group 17@2x.png' %}" alt="">
                    </a>
                </div>
            </div>


            {% for utilaj in firma.utilaje_vanzare.all %}
            
            <div class="{% cycle 'flex-container' 'flex-container-reverse' %}">
                <div class="nume-slide-container">
                    <div class="nume-echipament">
                        <h4> {{utilaj.name}}</h4>
                    </div>
                    <div class="slide-show">
                        <div class="glider">

                            {% for utilaj_image in utilaj.utilaj_vanzare_image.all %}
                            <div class="glider-contain">
                                <img src="{{utilaj_image.image.url}}" alt="" class="product-circle">
                            </div>
                            {% endfor %}
                        </div>

                        <button role="button" aria-label="Previous" class="glider-button glider-prev">
                            <img src="{% static 'product/images/arrow.png' %}" alt="">
                        </button>
                        <button role="button" aria-label="Next" class="glider-button glider-next">
                            <img src="{% static 'product/images/arrow.png' %}" alt="">
                        </button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>

                <div class="text-download-container">
                    <div class="text-firm-container">
                        {% for utilaj_description in utilaj.utilaj_vanzare_descriptions.all %}
                          <p>{{utilaj_description.description}}</p>
                        {% endfor %}
                    </div>
                    <div class="download-text-container">
                        <a href="{{utilaj.pdf.url}}" download>
                            <img src="{% static 'product/images/Group 16@2x.png' %}" alt="">
                        </a>
                    </div>
                </div>

            </div>

            {% endfor %}
        </div>

    
        {% endfor %}
    </div>






    

</main>

<script src="{% static 'product/script/glider.js' %}"></script>
<script src="{% static 'product/script/utilaje.js' %}"></script>

{% endblock content %}