<main class="catalog">

    <h1 class="page-title" id="mt">Inspirație:</h1>
    <div class="bg-container">
        <div class="image-container">
            <a href="#">
                <img src="/images/1_150.png" alt="" class="product-circle">
                <p class="product-description">Tipar digital </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/2_150.png" alt="" class="product-circle">
                <p class="product-description">Print outdoor </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/3_150.png" alt="" class="product-circle">
                <p class="product-description">Print indoor</p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/4_150.png" alt="" class="product-circle">
                <p class="product-description">Tipar Offset </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/5_150.png" alt="" class="product-circle">
                <p class="product-description">Print direct pe textile</p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/6_150.png" alt="" class="product-circle">
                <p class="product-description">Timbru sec </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/7_150.png" alt="" class="product-circle">
                <p class="product-description">Casete luminoase </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/8_150.png" alt="" class="product-circle">
                <p class="product-description">Termoformare </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/9_150.png" alt="" class="product-circle">
                <p class="product-description">Produse promoționale </p>
            </a>
        </div>
        <div class="image-container">
            <a href="#">
                <img src="/images/10_150.png" alt="" class="product-circle">
                <p class="product-description">Litere volumetrice</p>
            </a>
        </div>
    </div>

    <button role="button" aria-label="Previous" class="glider-button glider-prev">
        <img src="/images/arrow.png" alt="">
    </button>
    <button role="button" aria-label="Next" class="glider-button glider-next">
        <img src="/images/arrow.png" alt="">
    </button>
    <div role="tablist" class="dots"></div>
</main>

<script src="script/glider.js"></script>
<script src="script/catalog.js"></script>