{% extends 'product/template.html' %}
{% load static %}

{% block content %}
  
<main class="produse-catalog">


    <div class="container-titlu">
        <h1 class="titlu">Litere volumetrice</h1>
    </div>

    <div class="container-paragraf">
        <P class="paragraf-catalog">
            Literele volumetrice sunt reprezentări 3D ale scrierilor care pe firmele luminoase erau 2D. Literele
            volumetrice luminează, la randul lor, însa au un mod aparte de a face acest lucru datorită existenței
            grosimii pentru litere.
        </P>
        <P class="paragraf-catalog">
            Aceste elemente de producție publicitară pot fi realizate fie din plexiglass, fie din PVC, inox sau
            dintr-un mix de materiale. Literele din tablă sunt realizate în special pentru exterior, fiind foarte
            rezistente în timp.
        </P>
        <P class="paragraf-catalog">
            Vă oferim servicii complete pentru litere volumetrice, care pot fi personalizate cu sigla firmei sau
            orice altă informație, iar utilitatea lor poate fi transpusă atât la <span
                class="opt-finisare">exterior</span> cât și la <span class="opt-finisare">interior</span>,
            impactul fiind unul la fel de puternic.


        </P>
    </div>
    <div class="container-imagini">
        <div class="img-prezentare">
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_1.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_1.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_2.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_2.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_3.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_3.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_7.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_7.png' %}"></a>
            </div>
        </div>

        <div class="img-prezentare">
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_5.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_5.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_6.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_6.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_4.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_4.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href=" {% static 'product/images/litere_8.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src=" {% static 'product/images/litere_8.png' %}"></a>
            </div>
        </div>

    </div>


</main>
<script src="{% static 'product/script/tiparDigital.js' %}"></script>
<script src="{% static 'product/script/lightbox-plus-jquery.min.js' %}"></script>

{% endblock content %}
