{% extends 'product/template.html' %}
{% load static %}

{% block content %}

<main class="produse-catalog">


    <div class="container-titlu">
        <h1 class="titlu">Print indoor</h1>
    </div>

    <div class="container-paragraf">
        <P class="paragraf-catalog">
            <span class="opt-finisare">Printul indoor</span> se bazează pe contactul vizual de aproape, de aceea
            folosim echipamente de cea mai buna calitate pentru a oferi <span class="opt-finisare">culori
                excepționale</span>.

        </P>
        <P class="paragraf-catalog">
            Printul indoor este recomandat pentru decorațiuni interioare, expoziții, incinte comerciale, săli de
            conferință,
            baruri/restaurante, birouri, etc. Toate printerele sunt calibrate pentru o cât mai bună reproducere a
            culorilor,
            color managementul fiind verificat și updatat periodic.
        </P>
    </div>
    <div class="container-imagini">
        <div class="img-prezentare img-prezentare-3">
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_1.jpg' %}" data-lightbox="mygallery" data-title="Rollup-uri"> <img
                        class="poze-catalog poze-catalog-3" src="{% static 'product/images/indoor_1.jpg' %}"></a>
                <p class="descriere">Rollup-uri</p>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_2.jpg' %}" data-lightbox="mygallery" data-title="Spidere"> <img
                        class="poze-catalog poze-catalog-3" src="{% static 'product/images/indoor_2.jpg' %}"></a>
                <p class="descriere">Spidere</p>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_3.png' %}" data-lightbox="mygallery" data-title="Postere"> <img
                        class="poze-catalog poze-catalog-3" src="{% static 'product/images/indoor_3.png' %}"></a>
                <p class="descriere">Postere</p>
            </div>
        </div>

        <div class="img-prezentare">
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_4.jpg' %}" data-lightbox="mygallery" data-title="Floor graphics"> <img
                        class="poze-catalog" src="{% static 'product/images/indoor_4.jpg' %}"></a>
                <p class="descriere">Floor graphics</p>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_5.png' %}" data-lightbox="mygallery" data-title="Autocolante"> <img
                        class="poze-catalog" src="{% static 'product/images/indoor_5.png' %}"></a>
                <p class="descriere">Autocolante</p>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_6.jpg' %}" data-lightbox="mygallery" data-title="Plăci printate UV"> <img
                        class="poze-catalog" src="{% static 'product/images/indoor_6.jpg' %}"></a>
                <p class="descriere">Plăci printate UV</p>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/indoor_7.png' %}" data-lightbox="mygallery" data-title="Print Canvas"> <img
                        class="poze-catalog" src="{% static 'product/images/indoor_7.png' %}"></a>
                <p class="descriere">Print Canvas</p>
            </div>

        </div>
    </div>

    </div>


</main>
<script src="{% static 'product/script/tiparDigital.js' %}"></script>
<script src="{% static 'product/script/lightbox-plus-jquery.min.js' %}"></script>

{% endblock content %}