{% extends 'product/template.html' %}

{% load static %}

{% block content %}

<main class="produse-catalog">


    <div class="container-titlu">
        <h1 class="titlu"> Tipar offset</h1>
    </div>

    <div class="container-paragraf">
        <P class="paragraf-catalog">
            Tiparul pe offset este <span class="opt-finisare">cel mai des întâlnit</span> ca şi tehnică şi
            tehnologie. Tipărirea offset utilizează o
            precizie maximă, fiind cel mai frecvent întâlnită în realizarea broșurilor, revistelor, cărților,
            ziarelor
            etc. În cadrul acestui proces, imaginea este transferată pe suportul de tipărire cu ajutorul unui
            cilindru intermediar, care preia cerneala de pe placa tipografică și o transferă pe suport. Un
            dezavantaj
            al tipăririi offset este că, de obicei, durata pregătirii pentru tipărire este mai mare, deoarece
            necesită
            numeroase operațiuni adiționale.


        </P>
        <P class="paragraf-catalog">
            Toate beneficiile și avantajele tiparului clasic offset devin greu accesibile atunci când sunt implicate
            tiraje
            mici, timpi scăzuți de executie sau tipărirea de date variabile, întrucât costurile de producție ar fi
            enorme.
            În astfel de situații devine foarte util <span class="opt-finisare">tiparul digital</span>, pentru că se
            pot produce rapid mostre și tiraje mici,
            fară pregătiri prealabile și fără timpi de așteptare pentru finisare.
        </P>
        <P class="paragraf-catalog">
            Ținând cont de necesitățile clientului și de timpul de care dispune, întotdeauna căutăm să-i oferim cea
            mai bună
            variantă pentru un cost redus.
        </P>
        <P class="paragraf-catalog">
            Tiparul offset este o îmbinare frumoasă între artă și știință. Deși procesul este unul foarte tehnic,
            persoana care
            manipulează presa/echipamentul poartă o responsabilitate foarte mare pentru a obține un rezultat ideal
            al piesei printate.
            Este cel mai adesea folosit pentru <span class="opt-finisare">afişe, broșuri, cărţi, vederi, cărţi de
                vizită, plicuri, panouri informative, felicitări
                sau papetărie</span>. Marele avantaj al tiparului de tip offset este claritatea și calitatea
            superioară a imaginii care este imprimată.

        </P>
    </div>
    <div class="container-imagini">
        <div class="img-prezentare">
            <div class="catalog-img">
                <a href="{% static 'product/images/offset_1.png' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/offset_1.png' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/offset_2.jpg' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/offset_2.jpg' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/offset_3.jpg' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/offset_3.jpg' %}"></a>
            </div>
            <div class="catalog-img">
                <a href="{% static 'product/images/offset_4.jpg' %}" data-lightbox="mygallery"><img class="poze-catalog"
                        src="{% static 'product/images/offset_4.jpg' %}"></a>
            </div>
        </div>

    </div>


</main>
<script src="{% static 'product/script/tiparDigital.js' %}"></script>
<script src="{% static 'product/script/lightbox-plus-jquery.min.js' %}"></script>

{% endblock content %}