<main class="utilaje">
    <div class="top-container">
        <div class="top-image">
        </div>
        <div class="title-container">
            <div class="title-images-container">
                <div class="title-innovation">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/images/innovation_web.png">
                        <img src="/images/innovation_mobile.png" alt="">
                    </picture>
                </div>
                <div class="title-imagine">
                    <picture>
                        <source media="(min-width: 768px)" srcset="/images/imagine_web.png">
                        <img src="/images/imagine_mobil.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="text-container">
                <p> <span class="first-line"> Descoperă tot ce avem de arătat!</span>
                    <span class="second-line"> Punem la dispoziție o multitudine de echipamente de vânzare. </span>
                    <span class="third-line"> Pentru comenzi și detalii...suntem la un mail distanță! </span>
                </p>
            </div>
            <div class="everything">
                <picture>
                    <source media="(min-width: 768px)" srcset="/images/everything_web.png">
                    <img src="/images/everything_mobil.png" alt="">
                </picture>
            </div>
        </div>
    </div>

    <div class="body-container">

        <div class="firm-container">
            <div class="logo-download-container">
                <div class="logo-container">
                    <img src="/images/A_mobil.png" alt="">
                </div>
                <div class="download-container">
                    <a href="">
                        <p>Descarca brosura BODOR</p>
                        <img src="/images/Group 17@2x.png" alt="">
                    </a>
                </div>
            </div>

            <div class="flex-container">
                <div class="nume-slide-container">
                    <div class="nume-echipament">
                        <h4> Nume echipament</h4>
                    </div>
                    <div class="slide-show">
                        <div class="glider">
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/1_150.png" alt="" class="product-circle">
                                    <p class="product-description">Tipar digital </p>
                                </a>
                            </div>
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/2_150.png" alt="" class="product-circle">
                                    <p class="product-description">Print outdoor </p>
                                </a>
                            </div>
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/3_150.png" alt="" class="product-circle">
                                    <p class="product-description">Print indoor</p>
                                </a>
                            </div>

                        </div>

                        <button role="button" aria-label="Previous" class="glider-button glider-prev">
                            <img src="/images/arrow.png" alt="">
                        </button>
                        <button role="button" aria-label="Next" class="glider-button glider-next">
                            <img src="/images/arrow.png" alt="">
                        </button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
                <div class="text-download-container">
                    <div class="text-firm-container"></div>
                    <div class="download-text-container">
                        <a href="">
                            <img src="/images/Group 16@2x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>



        </div>

        <div class="firm-container">
            <div class="logo-download-container">
                <div class="logo-container">
                    <img src="/images/A_mobil.png" alt="">
                </div>
                <div class="download-container">
                    <a href="">
                        <p>Descarca brosura BODOR</p>
                        <img src="/images/Group 17@2x.png" alt="">
                    </a>
                </div>
            </div>

            <div class="flex-container">
                <div class="nume-slide-container">
                    <div class="nume-echipament">
                        <h4> Nume echipament</h4>
                    </div>
                    <div class="slide-show">
                        <div class="glider">
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/1_150.png" alt="" class="product-circle">
                                    <p class="product-description">Tipar digital </p>
                                </a>
                            </div>
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/2_150.png" alt="" class="product-circle">
                                    <p class="product-description">Print outdoor </p>
                                </a>
                            </div>
                            <div class="glider-contain">
                                <a href="#">
                                    <img src="/images/3_150.png" alt="" class="product-circle">
                                    <p class="product-description">Print indoor</p>
                                </a>
                            </div>

                        </div>

                        <button role="button" aria-label="Previous" class="glider-button glider-prev">
                            <img src="/images/arrow.png" alt="">
                        </button>
                        <button role="button" aria-label="Next" class="glider-button glider-next">
                            <img src="/images/arrow.png" alt="">
                        </button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
                <div class="text-download-container">
                    <div class="text-firm-container"></div>
                    <div class="download-text-container">
                        <a href="">
                            <img src="/images/Group 16@2x.png" alt="">
                        </a>
                    </div>
                </div>
            </div>



        </div>


    </div>

</main>

<script src="script/glider.js"></script>
<script src="script/utilaje.js"></script>