@media screen and (min-width: 768px) {

    /********************************** PRINTER TEXT **********************************/
     .printer-text {
       top: 20%;
       left: 20%;
       font-size: 1vw;
       width: 50%;
       height: 20%;
       color: green;
    }
}