@import 'vars';
@import 'animations';
@import 'mixins';
@import 'footer'; 
@import 'footer_media';
@import 'landing';
@import 'landing_media';
@import 'contact';
@import 'contact_media';
@import 'oferte';
@import 'oferte_media';
@import 'catalog';
@import 'catalog_media';
@import 'despreNoi';
@import 'despreNoi_media';
@import 'home';
@import 'home_media';
@import 'utilaje';
@import 'utilaje_media';
@import "tiparDigital_main";
@import "tiparDigital_media";
@import "menu";
@import "media_menu";

@import url('https://fonts.googleapis.com/css?family=Freckle+Face&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', 'Montserrat', sans-serif;
    color: #C2CCCC;
    // border: 1px dotted red !important;
    // background: #000 !important;
    // color: lime !important;
}


